body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    background-color: #fffbfe; 
    color: #fff; /* White text color */
}

#sidebar {
    background-color: #f2e3e6; /* White background color to match image background */
    color: #000; /* Black text color */
    padding: 20px;
    width: 200px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center; /* Center content horizontally */
    transition: background-color 0.3s ease; /* Smooth transition for background color change */
}

.sidebarLogo img {
    max-width: 100%;
    margin-bottom: 20px;
}

a {
    top: 40%;
    left: 40%;
    font-size: 150%;
    color: #f246a2;
    text-decoration: none;
    background-color: transparent;
    margin-bottom: 30px;
}

a:hover {
    background-color: #fffbfe;
    transition: background-color .5s;
    padding: 5px;
    width: 100%;
    border-radius: 15%;
}