* {
    margin: 0;
    box-sizing: border-box;
    padding: 0;

}

#pinkBar {
    height: 100px;
    background-color: #f246a2;
    display: flex;
    justify-content: space-between;
    padding: 30px 80px;
}

.logo {
    display: flex;
    width: 250;

}

.search {
    width: max-content;
    display: flex;
    align-items: center;
    padding: 24px;
    border-radius: 50px;
    background-color: #fffbfe;
    transition: 0.25s;
}

.search:focus-within {
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.75);
}

.search-input {
    font-size: 16px;
    font-family:sans-serif ;
    color: #fc81b0;
    margin-left: 10px;
    outline: none;
    border: none;
    background: tr;
    width: 300px;
    flex: 1;
}

.search-input::placeholder, 
.search-icon {
    color: rgb(242, 70, 162, 0.50);

}